<div class="section_2"> <%= image_tag 'logofollow.png' %> </div>
<div class="section_3">
	<div class="section_3_1">
created	<%= distance_of_time_in_words(@mytime, activity.trackable.created_at) %> ago 
	</div>
<%= link_to activity.owner.name, activity.owner %>
just followed an
<% if Activity.where(:id => activity.trackable.followable_id.to_i).empty? %>
<%else%>
<% if Activity.find(activity.trackable.followable_id.to_i).user_id == current_user.id %>

<%= link_to Activity.find(activity.trackable.followable_id.to_i).title, {:controller => 'activities', :action => 'show', :id => activity.trackable.followable_id.to_i } %>

<% else %>
<%= link_to Activity.find(activity.trackable.followable_id.to_i).title, {:controller => 'general', :action => 'activity', :id => activity.trackable.followable_id.to_i } %>

<% end %>
<% end %>
</div>
<div class="section_4">
	<% if Activity.where(:id => activity.trackable.followable_id.to_i).empty? %>
	<%else%>	
<%= image_tag Activity.find(activity.trackable.followable_id.to_i).avatar.url(:supermini) %>
<% end%>
</div>