        <div class="grid_3">
            <div class="project-short sml-thumb">
                <div class="top-project-info">
                    <div class="content-info-short clearfix">

                        <a href="#" class="big_box">
       <% if a.avatar.url %>

<%= image_tag a.avatar.url(:grid) %>



					<% else %>
					
					
					<%= image_tag '/assets/ex/peopleblank.jpg', :width => '192', :height => '135' %>
					<% end %>
                        </a>
<% if a.online? %> 	<%= image_tag '/assets/Greenlight2.gif', :class => 'ontop3' %><% end %>
                        <div class="wrap-short-detail">
                            <h3 class="rs acticle-title"><a class="be-fc-orange" href="project.html"><%= a.name.capitalize %></a></h3>
                           
                  
                            <p class="rs project-location">
                                <i class="icon iLocation"></i>
<% if a.location %>
                                <%= a.location[0..20] %>  &nbsp; &nbsp;&nbsp; 2.7&nbsp;km
<% end%>
                            </p>
                        </div>

							<%=  link_to_modal "Email Me", "#demo-form", :class=>"btn btn-red" %>

								<div id="demo-form" class="demo-description" style="display: none; ">
								  <p>

								<b>	 Write me an Email</b>:
									    <br />





										<div class="theform">
																		<%= form_tag({:controller => 'conversation', :action => 'sendmail', :id => a.id}, :remote => true) do %>
														<%= text_field_tag :body %>			

																		<%= button_tag(type: 'submit', id: "search") do %>


						<span class="btn btn-green">Send it</span> 
																		<% end%> 
																		<% end%>
						</div>




								  </p>
								</div>

						
 <div class="btn btn-blue"> Follow Me</div>
	

                    </div>
                </div>
         </div>
        </div><!--end: .grid_3 > .project-short-->
