
<div id="wrapper">
	
<%= render 'header/header' %>
<%= render 'activities/navbar' %>


   <div class="home-popular-project">
        <div class="container_12">
            <div class="grid_12 wrap-title">
	
                <h2 class="common-title">Popular in <%= @loc %>   
	
	<!-- Time: <%= @timenowuser %> --> </h2>
    <div class="form-search2">
	<div class="form2">

<%= form_tag('search/searchbycity') do %>
  <%= text_field_tag "q",nil, :class => 'address-picker-input', :placeholder => 'Change my city' %>


<script type="text/javascript">
    AddressPickerRails.Pickers.applyOnReady();
</script>


     <%= submit_tag 'Search',  :class=>"btn btn-red" %>




       
   
           
            <button class="btn-search" type="reset"><i class="icon iMagnifier"></i></button>
            <button class="btn-reset-keyword" type="reset"><i class="icon iXHover"></i></button>
 <% end %> 
</br>
</div>
    </div>

                <a class="be-fc-orange" href="category.html"> <h3>Registered Users: &nbsp;&nbsp;&nbsp; <%= render 'start/counter' %></a></h3>
            </div>
            <div class="clear"></div>
            <div class="lst-popular-project clearfix">

<% @people.each do |a| %>
 <%= render :partial => "grid", :locals => {:a => a} %> 
<% end %>
</br>
</br>

	</br></br></br>
<center> <a href="#" class="btn btn-green">View More Things To Do In Your Area</a> </center>

</br>
<center>	<%= paginate @people %> </center>
         </div>

       </div>
    </div><!--end: .home-popular-project -->

<%= render 'footer/footer' %>

</div>

<div class="popup-common" id="sys_popup_common">
    <div class="overlay-bl-bg"></div>
    <div class="container_12 pop-content">
        <div class="grid_12 wrap-btn-close ta-r">
            <i class="icon iBigX closePopup"></i>
        </div>
        <div class="grid_6 prefix_1">
<%= render "devise/registrations/new" %>
      </div>
        <div class="grid_4">
            <div class="form login-form">
	<%= render "devise/sessions/new" %>
            
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
