<div class="section_2"> <%= image_tag 'wooupdate.png' %> </div>
<div class="section_3">
	<div class="section_3_1">
updated	<%= distance_of_time_in_words(@mytime, activity.trackable.updated_at) %> ago 
	</div>
<%= link_to activity.owner.name, activity.owner %>
just updated an activity 


<% if activity.trackable.user_id == current_user.id %>
<%= link_to activity.trackable.title, {:id => activity.trackable.id, :controller => 'activities', :action => 'show' } %>
<% else %>
<%= link_to activity.trackable.title, {:id => activity.trackable.id, :controller => 'general', :action => 'activity' } %>
<% end %>

</div>
<div class="section_4">
	<% if activity.trackable.user_id == current_user.id %>
	<a href="/activities/<%= activity.trackable.id %>" class="thumb-img">
	<% else %>
	<a href="/activity/<%= activity.trackable.id %>" class="thumb-img">
	<% end %>
<%= image_tag (activity.trackable.avatar.url(:supermini))%>  
</div>