<div id="wrapper">
<%= render "header/header" %>
<%= render 'activities/navbar' %>	
         <div class="clear"></div>

			         <div class="clear"></div>



		  <div class="home-popular-project">
		        <div class="container_12">
		            <div class="grid_12 wrap-title">




		                <a class="be-fc-orange" href="category.html">View all</a>

				  <h2 class="common-title">Welcome Back Mike</h2></div>
		


		            <div class="clear"></div>
		            <div class="lst-popular-project clearfix">
		                <div class="grid_3">
		                    <div class="project-short sml-thumb">
		                        <div class="top-project-info">
		                            <div class="content-info-short clearfix">
										<h3>You Have:</h3>
		                                <div class='mypanel'>
		                                    <h3 ><div class="left-panel"><a class="be-fc-orange" href="project.html"> Followers&nbsp; &nbsp;</div><div class="right-panel"><span class="orange2" > &nbsp;&nbsp;5 </span></a></div></div>

		  <div class='mypanel'>
		 <h3 ><div class="left-panel"><a class="be-fc-orange" href="project.html"> Following&nbsp; &nbsp;</div><div class="right-panel"><span class="orange2" > 10 </span></a></div></div>

			 <div class='mypanel'>
			 <h3 ><div class="left-panel"><a class="be-fc-orange" href="project.html"> Interests&nbsp; &nbsp;</div><div class="right-panel"><span class="orange2" > &nbsp;&nbsp;7 </span></a></div></div>
				 <div class='mypanel'>
				 <h3 ><div class="left-panel"><a class="be-fc-orange" href="project.html"> Activities&nbsp; &nbsp;</div><div class="right-panel"><span class="orange2" >&nbsp;&nbsp;3 </span></a></div></div></br>
		</div>
		</div>


		                        <div class="bottom-project-info clearfix"> Profile Completion
		                            <div class="line-progress">
		                                <div class="bg-progress">
		                                    <span  style="width: 50%"></span>
		                                </div>
		                            </div>
		                            <div class="group-fee clearfix">
		                                <div class="fee-item">
		                                    <p class="rs lbl">Credibility</p>
		                                    <span class="val">50%</span>
		                                </div>
		                                <div class="sep"></div>
		                                <div class="fee-item">
		                                    <p class="rs lbl">Interested</p>
		                                    <span class="val">7</span>
		                                </div>
		                                <div class="sep"></div>
		                                <div class="fee-item">
		                                    <p class="rs lbl">Days Left</p>
		                                    <span class="val">25</span>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		  <div class="project-short sml-thumb">
							 <div class="top-project-info">
		                            <div class="content-info-short clearfix">
										<h3>Hey Mike look wOO's here?</h3>
						                <a class="thumb-avatar " href="#"><img src="images/ex/th-119x119-9.jpg" width="75" height="75" alt="$USER_NAME"/></a>
						                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-10.jpg" width="75" height="75"alt="$USER_NAME"/></a>
						                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-11.jpg" width="75" height="75"alt="$USER_NAME"/></a>
						                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-12.jpg" width="75" height="75"alt="$USER_NAME"/></a>
						                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-13.jpg" width="75" height="75"alt="$USER_NAME"/></a>
						                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-14.jpg" width="75" height="75"alt="$USER_NAME"/></a>
						                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-15.jpg" width="75" height="75"alt="$USER_NAME"/></a>
						                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-16.jpg" width="75" height="75"alt="$USER_NAME"/></a>
										                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-7.jpg" width="75" height="75"alt="$USER_NAME"/></a>
									</div>
									</div>
			</div>				

		                </div><!--end: .grid_3 > .project-short-->
	<div class='mypanel'>	
<div class="right-panel2">
	</br>
							<center>	<%= paginate @events %> </center>
								<% @events.each do |activity| %>
				<% if activity.owner %>
						<%= image_tag activity.owner.avatar.url(:supermini) %>	
				<%end%>
						<%= link_to activity.owner.name, activity.owner if activity.owner %>	
				    		<%= render_activity activity %> </br>
				</br>
								<% end %>
</div> 						
		</div>
		        </div> </div>
		    </div><!--end: .home-popular-project -->

<%= render 'footer/footer'%>
</div>