<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @dare.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @dare.answer %>
</p>

<p>
  <b>User:</b>
  <%= @dare.user_id %>
</p>

<p>
  <b>Priv:</b>
  <%= @dare.priv %>
</p>


<%= link_to 'Edit', edit_dare_path(@dare) %> |
<%= link_to 'Back', dares_path %>
