<div id="wrapper">
<%= render "header/header" %>
<%= render 'activities/navbar' %>	
<div class="clear"></div>

  <div class="home-popular-project">
		<div class="layout-2cols">
		        <div class="content grid_8">
					 <div class= "topmessage">  
							<div class='topmessageright'>
								<a class="btn btn-red" href="/conversation/myoutbox">Check my Outbox</a> 
								</div>    
						<div class='box-white3'>  <h2 class="rs project-title">
							
							Hey <%= current_user.username %> you have 
							
							<% if @messages_count >= 1 %>
						
						    <div class="blink2">
							<%= @messages_count %> NEW mail(s)
							</div>
							
							<% else %>
								no new mails
								<% end%></h2> 
						</div> 
					
				</div> 
					
					
			</br>
	
		
<% @conversations.each do |c| %>		
				<div class="box-white4">
		          		    <h3 class="title-box2">From</h3>
							 <div class="media">
				                 <a href="#" class="thumb-left">
				         			    <% whois = c.participants - Array(current_user) %>
									 <% if whois.empty? %>

									  <%= image_tag current_user.avatar.url(:mini) %>
								
									<% else %>
										
									 <% if whois[0].avatar? %>
									   <%= image_tag whois[0].avatar.url(:mini) %> 
									 <% else %>
									   <%= image_tag '/assets/ex/blankmini2.jpg' %>
									 <% end %>
									
									<% end %>    </a>
									
							
								<h3 class="rs"><a href="#" class="be-fc-orange fw-b">	<% if whois.empty? %>
									  <%= current_user.username %>
									<% else %>
								<%= whois[0].username %>
								<% end%></a></h3>
								   <h4 class="rs">


					                 <div class="media-body">
					                   <a href="#" class="be-fc-orange fw-b">sent: <%= c.created_at %></a></h4>
				
					</br>
					<div class="thumb-middle">
									    <% whois = c.participants - Array(current_user) %>
  <% if whois[0].online? %>
<div class="blink2">Is online!</div>
 <% else %>
 is offline 
<% end %>
					  <h2 class="rs"><a href="#" class="be-fc-orange fw-b">	<%= link_to c.subject, :controller => 'conversation', :action => 'show', :id => c.id %> </a></h2>
					</div>

					<div class="thumb-right">

					                     <div class="btn btn-blue" ><%= link_to 'Read', {:controller => 'conversation', :action => 'show', :id => c.id}, {:style =>'color:#ffffff'}    %></div>
<div class = 'btn btn-red'>				                   
<%= link_to 'Delete', trash_path(:conversation_id => c.id), { :method => :post , :style =>'color:#ffffff' } %></div>
					</div>
							</div>
				  </div>
<% end %>

<%= paginate @conversations %>
		        </div><!--end: .content -->
<%= render "sidebar" %>

		        <div class="clear"></div>
		</div>
</div>

<%= render 'footer/footer'%>



</div>
<script type="text/javascript">
	$(function() {
	    var x;
	        setInterval(function() {
	                if(x == 0) {
	                    $('.blink2').removeAttr('style');
	                    x = 1;
	                } else  {
	                    if(x = 1) {
	                        $('.blink2').css('color', 'red');
	                        x = 0;
	                    }
	                }
	        }, 500);
	});
	</script>

