<body>

<div id="wrapper">
<%= render "header/header" %>
<%= render 'activities/navbar' %>	
         <div class="clear"></div>

  <div class="home-popular-project">
		<div class="layout-2cols">
		        <div class="content grid_8">
					 <div class= "topmessage">      <div class='topmessageleft'>  <h4 class="rs project-title">Hey <%= current_user.username %> you sent <%=@messages_count%> messages to the following users </h4></div> <div class='topmessageright'><a class="btn btn-red" href="/conversation/myinbox">Check my Inbox</a> </div></div> 
					
					
			</br>
	
		
<% @conversations.each do |c| %>		
				<div class="box-gray">
		          		    <h3 class="title-box">To</h3>
							 <div class="media">
				                 <a href="#" class="thumb-left">
				         			    <% whois = c.participants - Array(current_user) %>
									 <% if whois.empty? %>

									  <%= image_tag current_user.avatar.url(:mini) %>
									<% else %>
										<%= image_tag whois[0].avatar.url(:mini) %>
									<% end %>    </a>
							<div class="thumb-right"> NEW MAIL! </div>
								<h3 class="rs"><a href="#" class="be-fc-orange fw-b">	<% if whois.empty? %>
									  <%= current_user.username %>
									<% else %>
								<%= whois[0].username %>
								<% end%></a></h3>
								   <h4 class="rs">


					                 <div class="media-body">
					                   <a href="#" class="be-fc-orange fw-b">sent: <%= c.created_at %></a></h4>
				
					</br>
					<div class="thumb-middle">

					  <h2 class="rs"><a href="#" class="be-fc-orange fw-b">	<%= link_to c.subject, :controller => 'conversation', :action => 'show', :id => c.id %> </a></h2>
					</div>

					<div class="thumb-right">

					                     <div class="btn btn-blue" ><%= link_to 'Read', {:controller => 'conversation', :action => 'show', :id => c.id}, {:style =>'color:#ffffff'}    %></div>
					                     <a class="btn btn-red" href="#">Delete</a>
					</div>
							</div>
				  </div>
<% end %>

		        </div><!--end: .content -->
	
				<%= render "sidebar" %>

						        <div class="clear"></div>
						</div>
				</div>
<%= render 'footer/footer'%>



</div>

</body>