
	
<div class="project-short sml-thumb">
					 <div class="top-project-info">
                           <div class="content-info-short clearfix">
								<h3>My Album </h3>
								<div class ="small_images_content" >
								<% @albums.each do |u| %>
							              
							<% if u.avatar? %>
						<div class="small_images">
							<%= image_tag (u.avatar.url(:supermini)), :width => '75', :height => '75', :class => 'onbottom' %> 
							
							<%= link_to 'Remove', u, method: :delete, data: { confirm: 'Are you sure?' } %>
							
					
							
						
							</div>
							<% else %>
								<div class="small_images">
							<%= image_tag '/assets/ex/blankmini2.jpg', :width => '75', :height => '75',:class => 'onbottom' %>
						
									</div>
							<% end%>
						
							
							
								<% end %>
								
</div>
							</div></br>	
							<% if @albums.count >= 6 %>
							<%=  link_to_modal "You cannot add more pics", "#demo-form-nomore", :class=>"btn btn-blue" %>
							<% else %>
							
								<%=  link_to_modal "Add a picture", "#demo-form", :class=>"btn btn-blue" %>
							<% end %>	
								
						
							</div>
							
						
								</div>	


