<p id="notice"><%= notice %></p>

<%= image_tag @album.avatar.url(:thumb) %>

<%= image_tag @album.avatar.url(:medium) %>



<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
