<h1>Listing activityavatars</h1>

<table>
  <tr>
    <th>Activity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activityavatars.each do |activityavatar| %>
  <tr>
    <td><%= activityavatar.activity_id %></td>
    <td><%= link_to 'Show', activityavatar %></td>
    <td><%= link_to 'Edit', edit_activityavatar_path(activityavatar) %></td>
    <td><%= link_to 'Destroy', activityavatar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activityavatar', new_activityavatar_path %>
