<% if user_signed_in? %>

<header id="header">
  <div class="wrap-top-menu">
<i id="sys_btn_toggle_search" class="icon iBtnRed make-right"></i>
</div>
     <div class="container_12 clearfix">
        <div class="grid_12 header-content">
            <div id="sys_header_right" class="header-right">
	
				                 <div class="account-panel">
					<div class="nav-title">
<% if @message_count and !@message_count.nil %>
				                        <span class="pink"> <%= @messages_count %> </span>
		<% else %>		
<% end %>
				<a  href="/conversation/myinbox">&nbsp;Inbox</a><span class="sep"></span>
				                        <a href="/profile/index">Profile</a><span class="sep"></span>
				                        <a href="#">Settings</a><span class="sep"></span>
										<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
				
				                       <span class="sep"></span>
				  						 <a href="#"> <%= image_tag current_user.avatar.url(:supermini) %> </a>
				</div>
			                    </div>

           <div class="form-search3">
          	<%=	form_tag( {:action=> 'searchactivities', :controller =>'search'}, :id =>'sys_txt_keyword', :class => 'txt-keyword')  do %>
			<%= text_field_tag :search, '', :size => '16', :placeholder => 'Search Activities' %> 

		

						           <button class="btn-search" type="reset"><i class="icon iMagnifier"></i></button>
		                            <button class="btn-reset-keyword" type="reset"><i class="icon iXHover"></i></button>

					<% end %>
           </div>
            </div>

            <div class="header-left">
                <h1 id="logo">
                  <a href="/start/dashboard"><%= image_tag 'logo.png' %> </a>
                </h1>

            </div>
        </div>
    </div>
</header><!--end: #header -->



<% else %>

    <header id="header">
	  <div class="wrap-top-menu">
   <i id="sys_btn_toggle_search" class="icon iBtnRed make-right"></i>
</div>
         <div class="container_12 clearfix">
            <div class="grid_12 header-content">
                <div id="sys_header_right" class="header-right">
                    <div class="account-panel">
                        <a href="#" class="btn btn-red sys_show_popup_login">Promote Your Activity</a>
                        <a href="#" class="btn btn-black sys_show_popup_login">Login</a>
                    </div>
<div class="form-search">
	<div class="form">

		<%=	form_tag( {:action=> 'searchactivities', :controller =>'search'}, :id =>'sys_txt_keyword', :class => 'txt-keyword')  do %>
		<%= text_field_tag :search, '', :size => '16', :placeholder => 'Search Activities' %> 
	


		
					           <button class="btn-search" type="reset"><i class="icon iMagnifier"></i></button>
	                            <button class="btn-reset-keyword" type="reset"><i class="icon iXHover"></i></button>
					
				<% end %>
					
					</div>
                   
                    </div>
                </div>
                <div class="header-left">
                    <h1 id="logo">
                        <a href=""><%= image_tag 'logo.png' %> </a>
                    </h1>

                    <div class="main-nav clearfix">
                        <div class="nav-item">
                            <a href="#" class="nav-title2">Discover</a>
                            <p class="rs nav-description">Great Activities</p>
                        </div>
                        <span class="sep"></span>
                        <div class="nav-item">
                            <a href="#" class="nav-title">Promote</a>
                            <p class="rs nav-description">Your Activity</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header><!--end: #header -->

<% end %>



<script type="text/javascript">
$(function() {
	$('#search').autocomplete({
		source: '/follow/list',
		
		 focus: function(event, ui){
		   $('#search').val(ui.item.title);
		   return false;
		 },
		 select: function(event, ui){
		 $('#search').val(ui.item.title);
		 return false;
		 }
		})

		.data("uiAutocomplete")._renderItem = function(ul,item){
		   return $("<li></li>")
		  .data("item.uiAutocomplete",item)
		  .append("<a>"+"<div class='list_item_container_holder'>"+"<div class='image_holder'>"+"<img src='" + item.avatar_url +"'>" +"</div>" + "<div class='label'>" + item.title + "</div>" + "<div class='description_holder'>" + item.about + "</div>"+"</div>" +"</a>")
  .appendTo(ul);
		  };
});
</script>


<script type="text/javascript">
	$(function(){
		// Init Plugin

		$(".nav-title2").videopopup({
			'videoid' : '70069963',
			'videoplayer' : 'vimeo', //options - youtube or vimeo
			'autoplay' : 'true',// options - true or false
			'width' : '900',
			'height' : '510'
		});
	});
</script>