<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @yactivity.user_id %>
</p>

<p>
  <b>name:</b>
  <%= @yactivity.name %>
</p>

<p>
<%= image_tag @yactivity.avatar.url(:medium) %>

</p>


<%= link_to 'Edit', edit_yactivity_path(@yactivity) %> |
<%= link_to 'Back', yactivities_path %>
