<div id="wrapper">
<%= render "header/header" %>
<%= render 'activities/navbar' %>	


<div class="layout-2cols">
	<div class="grid_6">
		<div class="project-short sml-thumb">
			<div class="top-project-info">
				<div class="content-info-short clearfix">
					<h2>People I follow</h2>
					<% @userfollowing.each do |f| %>
						<%= image_tag f.avatar.url(:mini) %> <%= f.username %>
						<% if current_user.following?(f) %>
						<div class="btn btn-red"> <%= link_to "Unfollow", unfollow_profile_path(f.id) %> </div>
						<% else %>		
						<div class="btn btn-red"> <%= link_to "Follow", follow_profile_path(f.id) %> </div>
						<% end %>
						</br>
						</br>
						<% end %>
				</div> <!--content-info-short clearfix -->
			</div><!--top-project-info-->
		</div><!-- project-short sml-thumb-->
	</div><!--grid_6-->

	<div class="grid_6">
        <div class="project-short sml-thumb">
			<div class="top-project-info">
               <div class="content-info-short clearfix">
				<h2> Activities I follow </h2>
					<% @activityfollowing.each do |f| %>
					<%= f.title %>
					</br>
					<% end %>
				</div> <!--content-info-short clearfix-->
			</div><!--top-project-info-->
		</div><!--project-short sml-thumb-->
	</div><!--grid_6-->
</div><!--layout-2cols-->

</div> <!-- div wrapper>

