<script type="text/javascript">
$(document).ready(function(){
    $("#form_id2").validationEngine();
	<% var2 = Date.today.to_s %>
});
</script>


	
<div id="wrapper">
<%= render "header/header" %>
<%= render 'activities/navbar' %>	
         <div class="clear"></div>

								
                               	<%= nested_form_for @activity, :id => "form_id", :html => { :multipart => true, :id => "form_id2" }, :validate => :true do |f| %>
	
	
  <div class="home-popular-project">
        <div class="container_12">
            <div class="grid_12 wrap-title">

          
		
                <a class="be-fc-orange" href="category.html">View all</a>

	  
		  <h2 class="common-title">Add my Activity</h2></div>

  				<div id="myModal" class="reveal-modal">
				     <h1>Email Your Friends</h1>
				     <a href="/contacts/gmail"><%= image_tag "Gmail.png", :width => '100', :height => '70' %> </a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contacts/yahoo"><%= image_tag "Yahoo.png", :width => '100', :height => '70' %></a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contacts/hotmail"><%= image_tag "Hotmail.png", :width => '150', :height => '100' %></a>

				     <a class="close-reveal-modal">&#215;</a>
				</div>
            <div class="clear"></div>
            <div class="lst-popular-project clearfix">
                <div class="grid_3">

					<div class="project-short sml-thumb">
					    <div class="top-project-info">
					        <div class="content-info-short clearfix">
								<h3>Activity Pic </h3>
				<div id="remove_image">					
				<% if f.object.avatar? %>
			<%= image_tag f.object.avatar.url(:medium) %>
				<%else%>
							<div class="upload-preview">
						
					                <aclass="upload-preview"><img src="/assets/ex/th-292x204-1.jpg" width="250" height="250"alt="$USER_NAME"/></a>
								
							
							</div>	
				<%end%>
				</div>
					<div id="add_image">   <img />	</div>
							</div>
						</div>

<div id="remote_not_visible">	<%= f.text_field :remote_avatar_url %> </div>
					    <div class="bottom-project-info clearfix">

					    <%= f.file_field :avatar, :class => 'file' %>
					</br>
									<div id="thebutton">
						</div>
	</br>
							<div class="remove_box">
									<%=  link_to_modal "Select a Picture from the Net", "#demo-form", :class=>"btn btn-blue" %>

							</div>
					 </br> </br> 

						</br> 
						 Activity Completion <%= @completion2 %> %
							<div class="line-progress">
					            <div class="bg-progress">
					                <span class="success" style="width: <%= @completion2 %>%;"></span>
									
					            </div>
					        </div>
					        <div class="group-fee clearfix">
					            <div class="fee-item">
					                <p class="rs lbl">Price</p>
					                <span class="val"><%= f.object.price %></span>
					            </div>
					            <div class="sep"></div>
					            <div class="fee-item">
					                <p class="rs lbl">Like</p>
					                <span class="val"><%= f.object.followers_count %></span>
					            </div>
					            <div class="sep"></div>
					            <div class="fee-item">
					                <p class="rs lbl">Time Left</p>
					                <span class="val">
					                	

										<% if f.object.end_time < @mytime %>
																					Ended
																					<% else %>

											<%= distance_of_time_in_words(@mytime, f.object.ending) %>
											<% end %>
											
					                </span>
					            </div>
					        </div>
					    </div>
					</div>
		
					

	<%= render 'activities/myfriends'%>

		
                </div><!--end: .grid_3 > .project-short-->


                <div class="grid_6">
                    <div class="project-short sml-thumb">
                        <div class="top-project-info">
                            <div class="content-info-short clearfix">
<h2>	Edit my activity</h2>
  								<div class="form form-profile">
									                                 	  <div class="row-item clearfix">
									                                        <label class="lbl" for="txt_name1">Name:</label>
									                                        <div class="val">


									<%= f.text_field :title, :class => 'span2 validate[required,minSize[3],maxSize[30]] txt', :id => 'txt_name1', :placeholder => 'Enter an activity title' %>
									                                            <p class="rs description-input">Give a descriptive name to your Activity</p>
									                                        </div>
									                                    </div>
									                                    <div class="row-item clearfix">
									                                        <label class="lbl" for="txt_location">Location:</label>
									                                        <div class="val">

																			<% unless !@activity.errors.has_key?(:location) %>
																			            <span class="help-inline"><%= @activity.errors[:location].join(", ")%></span>  
																	<%end%>	

									<%= f.text_field :location, :class => 'validate[required] address-picker-input', :id => 'txt_location', :placeholder => 'Where is your event?' %>      
									
										<script type="text/javascript">
										    AddressPickerRails.Pickers.applyOnReady({
											  'onLoad':function (picker) {
											    console.debug("callback for a single pond with ID '%s'", picker.getIdPrefix());
											  }
											});
										</script>
																                                
									                                        </div>
									                                    </div>

									                                  <div class="row-item clearfix">
									                                        <label class="lbl" for="Datepicker">Starting Day:</label>
									                                        <div class="val">

									<%= f.text_field :start_date, :class => 'validate[required,future[' + Date.today.to_s + ']] text-input txt datepicker', :id => 'txt45',  :value => f.object.start_date %>   											</br>

									                                            <p class="rs description-input">What date is your event?</p>
									                                        </div>

									</div>


									                                 <div class="row-item clearfix">
									                                        <label class="lbl">Starting Time:</label>
									                                        <div class="val">
									<div class='txt2'>
										    <%= f.text_field :start_time, :name => 's1Time1', :class => 'span2 validate[required] txt', :id => 'txttime1', :value => f.object.start_time.strftime("%I:%M %p") %>
									                                          <br/>
														</div>


									                                            <p class="rs description-input">What time is your event?</p>
									                                        </div>

									</div>




									                                  <div class="row-item clearfix">
									                                        <label class="lbl" for="Datepicker">Ending Day:</label>
									                                        <div class="val">
									                                           <%= f.text_field :end_date, :class => 'validate[required,future[' + Date.today.to_s + '],funcCall[geThan]] text-input txt datepicker', :value => f.object.end_date %>		</br>



									                                            <p class="rs description-input">What date does your event ends?</p>
									                                        </div>

									</div>


									                                 <div class="row-item clearfix">
									                                        <label class="lbl">Ending Time:</label>
									                                        <div class="val">
									<div class='txt2'>
									                                                <%= f.text_field :end_time,:class => 'validate[required,funcCall[geThan2]] txt', :name => 's1Time2', :id => 'txttime2',  :value => f.object.end_time.strftime("%I:%M %p")  %> <br/>
														</div>


									                                            <p class="rs description-input">When does your event end?</p>
									                                        </div>

									</div>




									                  <div class="row-item clearfix">
									                                        <label class="lbl" for="txt_bio">About My Activity</label>

									                                        <div class="val">


									<%= f.text_area :about, :class => 'span2 validate[required,minSize[3],maxSize[600]] txt fill-width', :id => 'txt_bio' %>
									                                            <p class="rs description-input">We suggest a short description. Talk about what is fun about this activity and why people should join.</p>
									                                        </div>
									                                    </div>

									<div class="row-item clearfix">
									    <label class="lbl" for="txt_name1">Number of participants:</label>
									    <div class="val">
									       <%= f.number_field :numpart, :class =>'txt', :id => 'txt-name1' %>
									        <p class="rs description-input">Tell us how many people should attend your activity</p>
									</div>	</div>
									                                    <div class="row-item clearfix">
									                                        <label class="lbl" for="txt_name2">Your Website URL:</label>
									                                        <div class="val">

									                                            <%= f.text_field :website, :class => 'txt', :id => 'txt_name2', :value => 'www.'	 %>
									                                            <p class="rs description-input">You can enter a link to your website.</p>
									                                        </div>
									                                    </div>
									<div class="row-item clearfix">
																			Is this a recurrent event?	&nbsp;&nbsp;
																		               <%= f.select :recurrent, [['No',false], ['Yes',true]], :class =>"txt" %>

																					</div>
																					<div class="row-item clearfix">
																																What is the price?	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

																																  <%= f.select :price, [['Free'], ['0-20$'], ['21$-50$'], ['51$-100$'],['101$-500$'],['501$-100$'],['>1000$']], :class =>"txt" %>

																																		</div>
									                                    <div class="row-item clearfix">
									                                        <label class="lbl" for="txt_web">Interests:</label>
									                                        <div class="val">
									                                        <p class="rs description-input">add related interest</p>

														<%= f.fields_for :interests do |f| %>


															<%= f.text_field :interest, :class => "txt txt-website", :id => "txt_web" %>



																	<%= f.link_to_remove "Remove" %>
														<% end %>

																	<%= f.link_to_add "Add Interest", :interests, :class => "btn btn-white" %>


									                                        </div>
									                                    </div>
									
									                                    <p class="wrap-btn-submit rs ta-r">
									                                           <%= f.submit 'Save all settings', :class =>'btn btn-red btn-submit-all' %>
									                         </p>

                                </div>
                            </div>
                        </div>

 <div class="bottom-project-info clearfix">
																				
																				<a href="#" class="btn btn-red" data-reveal-id="myModal">

																					Email Friends 
																				</a>

																				 <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="60" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>


												                            <div class="line-progress">
												                                <div class="bg-progress">

												                                </div>
												                            </div>
																			 Activity Profile Completion
						<%= @completion2 %> %									                            <div class="line-progress">
														                                <div class="bg-progress">
													                                    <span class="success" style="width: <%= @completion2 %>%;"></span>
														                                </div>
														                            </div>
														                            <div class="group-fee clearfix">


														                                <div class="fee-item">
														                                    <p class="rs lbl">Nb Activities</p>
														                                    <span class="val"><%= @activitiescount %></span>
														                                </div>
														                                <div class="sep"></div>
														                                <div class="fee-item">
														                                    <p class="rs lbl">Interests</p>
														                                    <span class="val"><%= @interestcount  %> </span>
														                                </div>
														                                <div class="sep"></div>
														                                <div class="fee-item">
														                                    <p class="rs lbl">Since</p>
														                                    <span class="val"><%=distance_of_time_in_words(f.object.created_at,Time.now)%></span>
														                                </div>
														                            </div>
														                        </div>								                        
												                    </div>
												                </div><!--end: .grid_3 > .project-short-->
												           
												         

                <div class="clear clear-2col"></div>

				    <div class="clear clear-2col"></div>

	         	<% @activitygrid.each do |a| %>
					 <%= render :partial => "/start/grid", :locals => {:a => a} %> 
				<% end %>

					</div>

</div>
        </div>
    </div><!--end: .home-popular-project -->

<%= render 'footer/footer'%>
      <% end %>     
</div>

				<div id="demo-form" class="demo-description" style="display: none; ">
				  <p>

					 Search for <b>activity pictures</b>:
					    <br />


						<div class="theform">
														<%= form_tag({:controller => 'photos', :action => 'show'}, :remote => true) do %>
										<%= text_field_tag :url %>			

														<%= button_tag(type: 'submit', id: "search") do %>


	<span class="btn btn-green">Search pic</span> 
														<% end%> 
														<% end%>
	</div>

		
													<%= form_tag({:controller => 'photos', :action => 'show2'}, :remote => true) do %>
												
													
									<div id="select_button"></div>	
											
									<div id="paginator"></div>
													<%= button_tag(type: 'submit', id: "search") do %>

<div id="button_out">
<span class="btn btn-green">Accept pic</span> 
</div>
													<% end%> 
													<% end%>
</div>

			  </p>
			</div>


				<script type="text/javascript">
				    $(document).ready(function(){
				        // find the input fields and apply the time select to them.
				        $('input[name="s1Time2"]').ptTimeSelect({
										onClose:  function() {

				  $('input[name="s1Time2"]').focusout();
										}

						 });
						 });

				</script>





				<script type="text/javascript">
				    $(document).ready(function(){
				            // find the input fields and apply the time select to them.
					        $('input[name="s1Time1"]').ptTimeSelect({
											onClose:  function() {

					  $('input[name="s1Time1"]').focusout();
											}

				    });
				  });
				</script>


<script type="text/javascript">
$(document).ready(function(){
    $("#form_id").validationEngine();
});
</script>




<script type="text/javascript">
    $(document).ready(function(){
        // find the input fields and apply the time select to them.
        $('input[name="s1Time2"]').ptTimeSelect();
    });
</script>




<script>
$(function() {
  $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>







			
			<script type="text/javascript">
			$(document).ready(function() {
			     $('#myButton').click(function(e) {
			          e.preventDefault();
				  $('#myModal').reveal();
			     });
			});
			</script>


			<script>
			$(".thebutton").hide();
			$("#remote_not_visible").hide();
			$("#button_out").hide();
			</script>
			

			<script>
			$(document).ready(function(){
			    var preview = $("#add_image");

			    $(".file").change(function(event){
			       var input = $(event.currentTarget);
			       var file = input[0].files[0];
			       var reader = new FileReader();
			       reader.onload = function(e){
			           image_base64 = e.target.result;
			           preview.attr("src", image_base64);
			       };
			       reader.readAsDataURL(file);
			    });
			});
			</script>
			

				<script>

				$('#txt45').on('change', function() {
				  var date2 = this.value ; // or $(this).val()


				});

			function geThan(field, rules, i, options){
	 var startdate = document.getElementsByName('activity[start_date]')[0].value;
				   var d1 = startdate.split('-');
				   d1a = new Date(d1[0], d1[1]-1, d1[2]);

				var enddate = field.val();
				var d2 = enddate.split('-');
				d2a = new Date(d2[0], d2[1]-1, d2[2]);

				   if (d1a > d2a){
				   return "Your ending date has to be later then the starting date"
			}
				};


				</script>

					<script>

					$('#txt45').on('change', function() {
					  var date2 = this.value ; // or $(this).val()


					});

		
		function geThan2(field, rules, i, options){
			   var startdate = document.getElementsByName('activity[start_date]')[0].value;
			   var starttime = document.getElementsByName('s1Time1')[0].value;
			  
			 
			  
			
			   var d1 = startdate.split('-');
			   var arr = starttime.split(':');
			   var hour = parseInt(arr[0]);
			   var min = parseInt(arr[1]);
			   var camoupm4 = arr[1];
			   var camoupm5 = camoupm4.split(" ");
			   var camoupm = camoupm5[1];
			
			
			   
			   if (camoupm == "PM" && hour < 12) hour = hour + 12;
			   if (camoupm == "AM" && hour == 12) hour = hour - 12;
			  
			   d1b = new Date(d1[0], d1[1]-1, d1[2],hour,min);	       

				var enddate  = document.getElementsByName('activity[end_date]')[0].value;
				var endtime = document.getElementsByName('s1Time2')[0].value;
				 
				var e1 = enddate.split('-');
				var arre = endtime.split(':');
				var houre = parseInt(arre[0]);
				var mine = parseInt(arre[1]);
				var camoupm41 = arre[1];
				   var camoupm51 = camoupm41.split(" ");
				   var camoupm2 = camoupm51[1];

				   if (camoupm2 == "PM" && houre < 12) houre = houre + 12;
				   if (camoupm2 == "AM" && houre == 12) houre = houre - 12;


				d2b = new Date(e1[0], e1[1]-1, e1[2],houre,mine);

				 if (d1b > d2b){
				   return "Your ending date and time has to be later then the starting date and time"
			}

			};

					</script>



			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=516849445076378";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

			<script type="text/javascript">
			$(document).ready(function(){
			    $("#form_id2").validationEngine();
			});
			</script>
			
