

<body>
	
<div id="wrapper">
    <%= render "header/header" %>
	<%= render "navbar" %>

  <div class="clear"></div>

  <div class="home-popular-project">
        <div class="container_12">
            <div class="grid_12 wrap-title">


                <a class="be-fc-orange" href="category.html">View all</a>

	  
		  <h2 class="common-title">Add my Activity</h2></div>

  
            <div class="clear"></div>
            <div class="lst-popular-project clearfix">
	
			               <div class="grid_3">
				<%= render 'picactivity' %>
	
<%= render 'activities/myfriends'%>


	               </div><!--end: .grid_3 > .project-short-->

<%= render 'activityedit' %>
  <div class="clear clear-2col"></div>
<%= render 'activities/grid3' %>
<%= render 'activities/grid3' %>
<%= render 'activities/grid3' %>

<%= render 'activities/grid3' %>

<%= render 'activities/grid3' %>
              

<%= render 'activities/grid3' %>

</div>
        </div>
    </div><!--end: .home-popular-project -->


<footer id="footer">
        <div class="container_12 main-footer">
            <div class="grid_3 about-us">
                <h3 class="rs title">Want help to promote your event?</h3>
                <p class="rs description">Woomatch can help you promote your activity or event. Just contact us and we will help you contact thousands of real member ready to go out. </p>
                <p class="rs email"><a class="fc-default  be-fc-orange" href="mailto:info@megadrupal.com">info@Woomatch.com</a></p>
                <p class="rs">+1 (800) 555-5555 </p>
            </div><!--end: .contact-info -->
            <div class="grid_3 recent-tweets">
                <h3 class="rs title">Recent Tweets</h3>
                <div class="lst-tweets" id="sys_lst_tweets">
                    <p class="rs ta-c fc-white">
                        loading Twitter <br />
                        <img src="images/ajax-loader.gif" alt="loading"/>
                    </p>
                </div>
            </div><!--end: .recent-tweets -->
            <div class="clear clear-2col"></div>
            <div class="grid_3 email-newsletter">
                <h3 class="rs title">Newsletter Signup</h3>
                <div class="inner">
                    <p class="rs description">Signup for new promotions and activities in your area.</p>
                    <form action="#">
                        <div class="form form-email">
                            <label class="lbl" for="txt-email">
                                <input id="txt-email" type="text" class="txt fill-width" placeholder="Enter your e-mail address"/>
                            </label>
                            <button class="btn btn-green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div><!--end: .email-newsletter -->
            <div class="grid_3">
                <h3 class="rs title">Discover &amp; Promote new activities</h3>
                <div class="footer-menu">
                    <ul class="rs">
                        <li><a class="be-fc-orange" href="#">What is WooMatch</a></li>
                        <li><a class="be-fc-orange" href="#">Start an Activity</a></li>
                        <li><a class="be-fc-orange" href="#">Project Guidlines</a></li>
                        <li><a class="be-fc-orange" href="#">Press</a></li>
                        <li><a class="be-fc-orange" href="#">Stats</a></li>
                    </ul>
                    <ul class="rs">
                        <li><a class="be-fc-orange" href="#">Staff Picks</a></li>
                        <li><a class="be-fc-orange" href="#">Popular</a></li>
                        <li><a class="be-fc-orange" href="#">Recent</a></li>

                        <li><a class="be-fc-orange" href="#">Most Credible Activities </a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="copyright">
            <div class="container_12">
                <div class="grid_12">
                    <a class="logo-footer" href="index.html"><img src="images/logo-2.png" alt="$SITE_NAME"/></a>
                    <p class="rs term-privacy">
                        <a class="fw-b be-fc-orange" href="single.html">Terms & Conditions</a>
                        <span class="sep">/</span>
                        <a class="fw-b be-fc-orange" href="single.html">Privacy Policy</a>
                        <span class="sep">/</span>
                        <a class="fw-b be-fc-orange" href="#">FAQ</a>
                    </p>
                    <p class="rs ta-c fc-gray-dark site-copyright">HTML by <a href="http://megadrupal.com" title="Drupal Developers" target="_blank">Woomatch</a>. Designed by <a href="http://bestwebsoft.com/" title="Web development company" target="_blank">Woomatch</a>.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
</footer><!--end: #footer -->

</div>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/assets/jquery-ui-1.10.3.custom.js"></script>

<script src="/assets/jquery.ui.addresspicker.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        // find the input fields and apply the time select to them.
        $('input[name="s1Time2"]').ptTimeSelect();
    });
</script>




<script>
$(function() {
  $(".datepicker").datepicker();
});
</script>






<script>
$(function() {

	var addresspickerMap = $( "#txt_location" ).addresspicker({
		regionBias: "fr",
	  elements: {
	    map:      "#map",
	    lat:      "#lat",
	    lng:      "#lng",
	    locality: '#user_city',
	    administrative_area_level_2: '#administrative_area_level_2',
	    administrative_area_level_1: '#user_province',
	    country:  '#user_country',
	    postal_code: '#postal_code',
    type:    '#type' 
	  }
	});

});
</script>

</body>
</html>


<%= link_to 'Back', activities_path %>
